#hero-section {
  --nav-height: 5rem;
  background: var(--gray-50, #f9fafb);
  display: flex;
  padding: calc(var(--nav-height) + 4rem) 5vw 6rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
  position: relative;
  font-family: 'Inter', sans-serif;
  overflow: clip;
  & .background-pattern {
    position: absolute;
    inset: 0;
    margin: auto;
  }
  & .hero-section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    gap: 4rem;
    z-index: 2;
    max-width: var(--section-max-width);
    & .hero-section__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 3rem;
      & .hero-section__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        & .hero-section__title {
          font-size: 3.4rem;
          font-weight: 600;
          line-height: 4.5rem;
          letter-spacing: -0.075rem;
          margin: 0;
          color: var(--gray-900, #101828);
        }
        & .hero-section__subtitle {
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 1.875rem;
          margin: 0;
          color: var(--gray-700, #344054);
        }
      }
      & .hero-section__buttons_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;
        & .hero-section__buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.75rem;
          & .secondary-button {
            gap: 0.6rem;
            & .contact-us-icon {
              width: 1.5rem;
              height: 1.5rem;
              margin-block-end: 1.25px;
            }
          }
        }
        & .hero-section__subtext {
          padding: 0.5rem 0;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: max-content;
          & .secured-privacy {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 0.5rem;
            white-space: nowrap;
          }
        }
      }
    }
    & .hero-section__images_container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      & .hero-main-image {
        width: 100%;
        min-width: 35rem;
        height: 40rem;
        object-fit: cover;
        border-radius: 0.75rem 4rem;
      }
      & .hero-section__small-images-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 4.52rem;
        gap: 1rem;
        left: -4.5rem;
        &.rtl {
          left: unset;
          right: -4.5rem;
        }
        & .hero-small-image {
          border-radius: 1rem;
          box-shadow: 9.26711px 14.20958px 35.70929px 0 rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #hero-section {
    --nav-height: 0.7rem;
    padding: calc(var(--nav-height) + 4rem) 5vw 4rem;
    & .background-pattern {
      bottom: 25.5rem;
      left: -33.125rem;
      &.rtl {
        left: unset;
        right: -33.125rem;
      }
    }
    & .hero-section__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;
      & .hero-section__content {
        gap: 1.3rem;
        max-width: 45rem;
        & .hero-section__text {
          gap: 0.9rem;
          & .hero-section__title {
            font-size: 2.1rem;
            line-height: 2.6rem;
            letter-spacing: -0.045rem;
          }
          & .hero-section__subtitle {
            font-size: 1.1rem;
            line-height: 1.7rem;
          }
        }
        & .hero-section__buttons_container {
          gap: 0;
          width: 100%;
          & .hero-section__buttons {
            flex-direction: column;
            gap: 0.75rem;
            width: 100%;
            & .main-button,
            & .secondary-button {
              width: 100%;
              max-width: 45rem;
              max-height: 2.6rem;
              & .contact-us-icon {
                display: none;
              }
            }
          }
        }
      }
      & .hero-section__images_container {
        width: 100%;
        max-width: 45rem;
        & .hero-main-image {
          min-width: unset;
          height: 15rem;
          max-width: 100%;
          aspect-ratio: 16/9;
        }
        & .hero-section__small-images-container {
          bottom: 0;
          left: 0;
          right: 0;
          gap: 0.62rem;
          transform: translateY(25%);
          &.rtl {
            left: 0;
            right: 0;
          }
          & .hero-small-image {
            width: 50%;
            aspect-ratio: 4/1;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}
