.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-container {
    width: 40vw;
    padding: 20px;
    border-radius: 12px;
    margin: 5rem auto;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.flex {
  display: flex;
}

.title-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.rmv-default {
  /* Remove default button styles */
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
  background: none;
}

.google-contain {
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
  border: 1px solid #e0e3e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 2rem;
}
.google-img {
  margin-inline-end: 0.5rem;
  margin-block-start: 0.6rem;
  height: 1.3rem;
  width: 1.3rem;
  justify-self: center;
}

// or-line
.or-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}
.or-line__line {
  background-color: var(--gray-200);
  font-weight: 500;
  width: 7rem;
  height: 1px;
  margin: 0 0.5rem;
}
.or-text {
  color: var(--gray-600);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  align-self: center;
}
