.dialog-keepOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 35rem;
  padding: 1rem;
  .text-keepOpen-contain {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 18px;
      font-weight: 600;
      color: var(--gray-900);
      line-height: 28px;
    }
    .text-keepOpen {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--gray-600);
    }
  }
}

@media (max-width: 650px) {
  .dialog-keepOpen {
    width: 100%;
  }
}
