.back-to-login-arrow {
  width: 20px;
  height: 20px;
  rotate: 180deg;
}
.back-to-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
}
