.page-not-found {
  // margin-inline-start: 250px;
  width: 100%;
  @media (max-width: 960px) {
    margin-inline-start: 0;
  }
  .page-not-found-body {
    max-width: 90%;
    background-image: url(/images/404-background.svg);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 770px;
    height: 770px;
    margin: auto;
    padding-top: 20vh;
    @media (max-width: 960px) {
      padding-top: 10vh;
    }
    .not-found-icon {
      max-width: 363px;
      align-self: start;
      margin: 0 auto;
    }
    .page-not-fount-text {
      display: flex;
      flex-direction: column;
      align-self: center;
      .page-not-found-title {
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        color: var(--gray-900);
        margin-bottom: 1rem;
      }
      .page-not-found-subtitle {
        font-size: 20px;
        text-align: center;
        color: var(--gray-600);
        margin-bottom: 1rem;
      }
    }
    .not-found-buttons {
      margin: auto;
      margin-top: 2rem;
      display: flex;
      gap: 10px;
      .link-title {
        text-decoration: none;
      }
      @media (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }
}
