.light-basic-small {
  width: 10.125rem;
  height: 2.25rem;
  background: var(--rose-50);
  border: 1px solid var(--rose-50);
  border-radius: 8px;
  padding: 8px 14px 8px 14px;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  &:hover {
    background: var(--rose-100);
    border: 1px solid var(--rose-100);
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0px 0px 0px 4px #f4ebff;

    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  &:disabled {
    background: #fff5f6;
    border: 1px solid #fff5f6;
    cursor: default;
  }
}

.light-basic-medium {
  width: 10.375rem;
  height: 2.5rem;
  background: var(--rose-50);
  border: 1px solid var(--rose-50);
  border-radius: 8px;
  padding: 10px 16px 10px 16px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  &:hover {
    background: var(--rose-100);
    border: 1px solid var(--rose-100);
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0px 0px 0px 4px #f4ebff;

    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  &:disabled {
    background: #fff5f6;
    border: 1px solid #fff5f6;
    cursor: default;
  }
}

.light-basic-big {
  width: 11.5625rem;
  height: 3rem;
  background: var(--rose-50);
  border: 1px solid var(--rose-50);
  border-radius: 8px;
  padding: 12px 20px 12px 20px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  &:hover {
    background: var(--rose-100);
    border: 1px solid var(--rose-100);
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0px 0px 0px 4px #f4ebff;

    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  &:disabled {
    background: #fff5f6;
    border: 1px solid #fff5f6;
    cursor: default;
  }
}
