.inverse-small {
  width: 10.125rem;
  height: 2.25rem;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  padding: 8px 14px 8px 14px;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  background: linear-gradient(0deg, var(--white-color), var(--white-color)),
    linear-gradient(0deg, var(--gray-300), var(--gray-300));
  &:hover {
    background: linear-gradient(0deg, var(--gray-300), var(--gray-300)),
      linear-gradient(0deg, var(--gray-50), var(--gray-50));
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0px 0px 0px 4px #f2f4f7;

    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  &:disabled {
    background: linear-gradient(0deg, var(--white-color), var(--white-color)),
      linear-gradient(0deg, var(--gray-200), var(--gray-200));
    border: 1px solid var(--gray-200);
    cursor: default;
  }
}

.inverse-medium {
  width: 10.375rem;
  height: 2.5rem;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  padding: 8px 14px 8px 14px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  background: linear-gradient(0deg, var(--white-color), var(--white-color)),
    linear-gradient(0deg, var(--gray-300), var(--gray-300));
  &:hover {
    background: linear-gradient(0deg, var(--gray-300), var(--gray-300)),
      linear-gradient(0deg, var(--gray-50), var(--gray-50));
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0px 0px 0px 4px #f2f4f7;

    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  &:disabled {
    background: linear-gradient(0deg, var(--white-color), var(--white-color)),
      linear-gradient(0deg, var(--gray-200), var(--gray-200));
    border: 1px solid var(--gray-200);
    cursor: default;
  }
}

.inverse-big {
  width: 11.5625rem;
  height: 3rem;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  padding: 8px 14px 8px 14px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  background: linear-gradient(0deg, var(--white-color), var(--white-color)),
    linear-gradient(0deg, var(--gray-300), var(--gray-300));
  &:hover {
    background: linear-gradient(0deg, var(--gray-300), var(--gray-300)),
      linear-gradient(0deg, var(--gray-50), var(--gray-50));
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0px 0px 0px 4px #f2f4f7;

    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  &:disabled {
    background: linear-gradient(0deg, var(--white-color), var(--white-color)),
      linear-gradient(0deg, var(--gray-200), var(--gray-200));
    border: 1px solid var(--gray-200);
    cursor: default;
  }
}
